In [1]:
%load_ext sql

In [2]:
%sql postgresql://dwhuser:Passw0rd@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [3]:
%%sql
select *
from stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [4]:
%%sql
SELECT count(*)
FROM   stg_events e;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [5]:
%%sql
SELECT count(*)
FROM   stg_songs e;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [6]:
%%sql
SELECT COUNT(*)
FROM   users
;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(97,)]

In [7]:
%%sql
SELECT count(*)
FROM   songs
;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [8]:
%%sql
SELECT count(*)
FROM   artists;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(11270,)]

In [9]:
%%sql
SELECT count(*)
FROM   time;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [10]:
%%sql
select count(*)
from   songplays
;

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(319,)]

In [11]:
%%sql
SELECT count(*)
FROM   stg_songs
WHERE  duration is not null

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [12]:
%%sql
SELECT count(*)
FROM   stg_events
WHERE  song_length is not null

 * postgresql://dwhuser:***@dwhcluster.ck1dl72revgv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]